@import './mixins';

// Global Styles

html, body {
  margin: 0;
}

html { height: 100%; }

body {
  height: 100%;
  @include core-font();
}

p, h1, h2, h3, span {
  @include core-font();
}

// Section-based styles

a { text-decoration: none; }

.md-accent[md-raised-button] { @include bg-accent(); }
