@import './variables';

// SCSS shared mixins

@mixin core-font { font-family: 'Century Gothic', 'Roboto', sans-serif !important; }

@mixin bg-primary { background-color: $fd-primary; color: white; }
@mixin bg-light { background-color: $fd-primary-light; color: white; }
@mixin bg-accent { background-color: $fd-accent; color: white; }
