doctype html
fd-admin-header(link="/admin", title="Programas")

  h1 Programas

// Create Program
fd-admin-program-panel([sections]="sections$ | async", title="Nuevo Programa", action="Crear Programa", (fdSubmit)="onCreateProgram($event)")

// Programs List
h1 Programas Creados

ng-container(*ngFor="let section of sectionsWithPrograms$ | async")
  ng-container(*ngFor="let program of section.programs")
    mat-card.program
      mat-card-subtitle
        span.title {{ section.title }}
        span :
        span.subtitle {{ program.title }}