doctype html
h1 Programas

// New Section
md-card.new-section
  md-card-title Nueva Sección de Programas
  md-card-content(fl-layout="column", fl-layout-align="start start")

    md-input.title([formControl]="newSection.controls.title", placeholder="Título")
    md-input.description([formControl]="newSection.controls.description", placeholder="Descripción")

    button(md-button, md-raised-button, color="primary", (click)="onAddSection()") Crear Sección

// New Program
md-card.new-program
  md-card-title Nuevo Programa
  md-card-content(fl-layout="column", fl-layout-align="start start")

    md-select([formControl]="newProgram.controls.section", placeholder="Sección")
      md-option(*ngFor="let section of sections | async", [value]="section.$key") {{ section.title }}

    md-input.title([formControl]="newProgram.controls.title", placeholder="Título")
    md-input.description([formControl]="newProgram.controls.description", placeholder="Descripción")
    md-input.location([formControl]="newProgram.controls.location", placeholder="Ubicación")

    button(md-button, md-raised-button, color="primary", (click)="onAddProgram()") Crear Programa

// Show all sections with its programs
template(ngFor, let-section, [ngForOf]="sections | async")
  md-card.section
    md-card-title {{ section.title }}
    md-card-content {{ section.description }}

  md-card.program(*ngFor="let program of section.programs")
    md-card-title {{ program.title }}
    md-card-content: p {{ program.description }}
    md-card-subtitle {{ program.location }}