@import '../styles/theme';

:host {
  @include background-primary-light;

  // TODO FLEXLAY MIXINS
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  flex-shrink: 0;
}

.roller {
  overflow: hidden;
  display: flex;

  img {
    animation: roll 80s linear infinite normal;
    width: 300px;
    height: 184px;
    object-fit: cover;
  }
}

@keyframes roll {
  0% { transform: translateX(0%); }
  100% { transform: translateX(-800%); }
}

h1 {
  margin: 0 0 0 0;
  font-size: 30px;
  width: 100%;
  height: 30px;
  padding: 3px 0 9px 20px;
}

h3 {
  padding: 14px 0 14px 20px;
  margin: 0;
  width: 100%;
  background-color: $fd-accent;
}