h1 Application Login

div.form(fl-layout="column", fl-layout-align="start center")
  md-input-container
    input(mdInput, type="email", placeholder="Email", [(ngModel)]="email")
  md-input-container
    input(mdInput, type="password", placeholder="Password", [(ngModel)]="password")

  button(md-button, md-raised-button, (click)="login()", color="primary") LOGIN

div Debug Data
pre {{ auth | async | json }}
