doctype html
h1 Application Login

form(#f="ngForm", (ngSubmit)="onSubmit(f)")
  mat-form-field: input(matInput, ngModel, name="email", type="email", placeholder="Email")
  mat-form-field: input(matInput, ngModel, name="password", type="password", placeholder="Password")

  button(mat-raised-button, color="accent") Entrar
