:host {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
}

form {
  width: 400px;

  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
}

md-input { width: 300px; }
