:host {
  // TODO FLEXLAY MIXIN
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
}

md-input { width: 300px; }

.form { width: 400px; }

[md-button] { margin-top: 30px; }
