doctype html
p([innerHtml]="data.main")

fd-divider
h1 {{ data.mission0 }}
p {{ data.mission1 }}
p([innerHtml]="data.mission2")

fd-divider
h1 {{ data.goals0 }}

p {{ data.goals1 }}
p {{ data.goals2 }}

ul
  li(*ngFor="let goal of data.goals3") {{ goal }}

p {{ data.goals4 }}
  
