doctype html
mat-card
  mat-card-title {{ title }}
  mat-card-content: form(#progForm="ngForm", (ngSubmit)="onSubmit(progForm)")

    mat-form-field: mat-select([ngModel]="program?.section", name="section", [placeholder]="'Sección'", required)
      mat-option(*ngFor="let section of sections", [value]="section.$id") {{ section.title }}

    mat-form-field: input(matInput, [ngModel]="program?.title", name="title", type="text", placeholder="Título", required)
    mat-form-field: textarea(matInput, [ngModel]="program?.description", name="description", rows="4", placeholder="Descripción", required)
    mat-form-field: input(matInput, [ngModel]="program?.location", name="location", type="text", placeholder="Ubicación", required)

    input(matInput, [(ngModel)]="image", hidden, name="image", type="text", required)

    // Upload Image Button
    button.image(mat-button, type="button", (click)="imgInput.click()")
      div.image-inside
        mat-spinner(*ngIf="state === 'LOADING'", [diameter]="30", [strokeWidth]="3")
        mat-icon(*ngIf="state === 'UPLOADED'") check
        span {{ imageText }}
    input(#imgInput, type="file", hidden, (change)="receiveImage($event)")

    button.submit(mat-raised-button, color="accent") {{ action }}
