:host {
  display: block;
}

.image {
  margin-top: 16px;
  align-self: flex-start;
}

.image-inside {
  display: flex;
  align-items: center;

  span {
    margin-left: 8px;
  }
}

.submit {
  margin-top: 16px;
  align-self: center;
}

form {
  display: flex;
  flex-direction: column;
}

mat-form-field { width: 400px; }
