@import '~app/styles/variables';

.items {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;

  width: 100%;
}

.item {
  flex: 1 0 0;

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;

  padding: 24px;
  box-sizing: border-box;
}

img {
  max-width: 130px;
  max-height: 170px;
}

span {
  margin-top: 15px;
  color: $fd-accent;
  font-weight: bold;
  white-space: nowrap;
}
