doctype html
p {{ data.description }}

div(*ngFor="let rel of data.relations")
  fd-divider.space-down

  h1 {{ rel.category }}

  .items(fl-layout="row", fl-layout-align="space-around stretch", fl-layout-wrap)

    a.item(*ngFor="let item of rel.items", [href]="item.link")
      img([src]="item.image")
      span {{ item.name }}
