doctype html
p FUNDABITAT desarrolla los Proyectos, en el marco de sus Programas de Formación y Capacitación:

fd-divider.space-down

.section(*ngFor="let section of programs | async", fl-layout="column", fl-layout-align="start stretch")
  h1 {{ section.title }}
  p {{ section.description }}

  .program(*ngFor="let program of section.programs", fl-layout="column", fl-layout-align="start stretch")
    md-card
      md-card-content(fl-layout="row", fl-layout-align="start start")
        .main
          h2 {{ program.title }}
          fd-divider
          p {{ program.description }}
          p: small {{ program.location }}
        img([src]="program.image", [alt]="program.title")


//fd-divider
//h1 Agentes de Salud
//
//p.
//  Implementa acciones destinadas a generar autosuficiencia en las comunidades, para que puedan trabajar en función
//  de alcanzar una mejor salud, en coordinación con los Servicios Seccionales de Salud y demás ONGs. que adelanten
//  programas en ésta área.
//
//div.section(*ngFor="let p of ads", fl-layout="column", fl-layout-align="start stretch")
//  md-card
//    md-card-content(fl-layout="row", fl-layout-align="start start")
//      .main
//        h2 {{ p.year }}
//        fd-divider
//        p {{ p.name }}
//        p: small {{ p.others }}
//      img([src]="p.image", [alt]="p.name")
//
//fd-divider
//h1 Facilitadores en Escuela Activa
//
//p Promueve, apoya y fomenta los Programas de Etnoeducación y de Capacitación no formal entre los grupos locales.
//
//div.section(*ngFor="let p of fea", fl-layout="column", fl-layout-align="start stretch")
//  md-card
//    md-card-content(fl-layout="row", fl-layout-align="start start")
//      .main
//        h2 {{ p.year }}
//        fd-divider
//        p {{ p.name }}
//        p: small {{ p.others }}
//      img([src]="p.image", [alt]="p.name")
