doctype html
p FUNDABITAT desarrolla los Proyectos, en el marco de sus Programas de Formación y Capacitación:

ng-container(*ngFor="let section of sections$ | async")
  fd-divider
  .section
    h1 {{ section.title }}
    p {{ section.description }}

    mat-card(*ngFor="let program of section.programs")
      mat-card-title {{ program.title }}
      fd-divider
      .content
        img([fireSrc]="program.image", [alt]="program.title")
        p.description {{ program.description}} {{ program.description}} {{ program.description}} {{ program.description}}
        mat-card-subtitle.location {{ program.location }}
