doctype html
p {{ data.description }}

ng-container(*ngFor="let section of sections$ | async")
  fd-divider
  .section
    h1 {{ section.title }}
    p {{ section.description }}

    fd-program-card(*ngFor="let program of section.programs", [program]="program")
