@import '~app/styles/mixins';
@import '~app/styles/variables';

:host {
  width: 100%;
  height: 100%;

  display: flex;
  flex-direction: column;
}

.header {
  display: flex;
  justify-content: center;
  align-items: flex-start;

  @include bg-light;
  padding-bottom: 10px;

  img {
    display: block;
    width: 90%;
  }
}

.links {
  display: flex;
  flex-direction: column;
  flex: 1 0 auto;

  @include bg-black;

  button {
    padding: 3px 10px 3px 20px;

    font-size: 14px;
    text-transform: uppercase;
    text-align: left;

    background-color: $fd-black;

    &.active {
      background-color: $fd-accent;
    }

    &:hover:not(.active) {
      transition: background-color 0.4s;
      background-color: rgba(white, 0.3);
    }
  }
}
