@import '../styles/theme';

.header {
  @include background-primary-light;
  cursor: pointer;
  padding-bottom: 10px;
  img { width: 90%; }
}

.links {
  background-color: $fd-black;
  [md-raised-button] {
    padding: 3px 10px 3px 20px;
    color: white;

    font-size: 14px;
    text-transform: uppercase;
    text-align: left;

    border-radius: 0;

    &:not(.md-accent) {
      background-color: transparent;
    }
  }
}

.link-group {
  border-bottom: solid 1px rgba(255, 255, 255, 0.2);
}
