@import 'app/styles/colors';
@import 'app/styles/fonts';

// Global Styles
html, body {
  margin: 0;
  height: 100%;
}

body { font-family: 'Century Gothic', 'Roboto', sans-serif; }

a, [routerLink] {
  cursor: pointer;
  text-decoration: none;
}

