doctype html
p(*ngIf="data.description") {{ data.description }}

fd-divider

.grid
  mat-card(*ngFor="let member of data.members")
    img(mat-card-image, [src]="member.photo", [alt]="member.name")
    mat-card-title {{ member.name }}
    mat-card-subtitle {{ member.description }}
