doctype html
md-sidenav-container
  md-sidenav(mode="side", opened)
    fd-sidenav
  div.all(fl-layout="column" , fl-layout-align="start stretch")
    fd-header
    .lens.standard-content(fl-flex)
      router-outlet
