doctype html
div.container(fl-layout="column", fl-layout-align="space-around center")
  img.logo(src="/assets/images/logo-fundabitat.png")

  p.description {{ data.description }}

  button(mat-raised-button, color="accent", routerLink="/nosotros") {{ data.knowMore }}

  div.fd-divider

  p.note <b>FUNDABITAT</b> {{ data.duties }}:

  div.extra(fl-layout="row", fl-layout-xs="column", fl-layout-align="space-around center")
    a(fl-flex, fl-layout="column", fl-layout-align="start center", href="http://www.anar.org.ve")
      img(src="/assets/images/logo-anar.png")
      span.link www.anar.org.ve

    a(fl-flex, fl-layout="column" fl-layout-align="start center", routerLink="/retam")
      img(src="/assets/images/logo-retam.png")
      span www.retam.org
