doctype html
div.container(fl-layout="column", fl-layout-align="space-around center")
  img(src="/assets/images/logo-fundabitat.png")

  p.description.
    Asociación Civil, sin fines de lucro constituida para realizar investigaciones
    multi e interdisciplinarias, relativas al hábitat y su mejor apropiación

  a.md-accent.md-raised(routerLink="/nosotros") CONOCE MAS SOBRE NOSOTROS

  div.md-divider.md-accent

  p.note <b>FUNDABITAT</b> crea y coordina:

  div.extra(fl-layout="row", fl-layout-align="space-around center")
    a(fl-flex, fl-layout="column", fl-layout-align="start center", href="http://www.anar.org.ve")
      img(src="/assets/images/logo-anar.png")
      span.link www.anar.org.ve

    a(fl-flex, fl-layout="column" fl-layout-align="start center", routerLink="/retam")
      img(src="/assets/images/logo-retam.png")
      span www.retam.org
