@import '~app/styles/media';

mat-card img {
  height: 250px;
  object-fit: cover;
}

.grid {
  display: grid;
  grid-template-columns: repeat(1, 1fr);
  grid-gap: 24px;

  @include media(">=xs") { grid-template-columns: repeat(2, 1fr); }

  margin-top: 16px;
}

