doctype html
p.
  FUNDABITAT realiza trabajos de investigación y asesoramiento en el ámbito regional, promoviendo el
  intercambio de experiencas de desarrollo alternativo en:

fd-divider

.grid
  mat-card(*ngFor="let area of areas")
    img(mat-card-image, [src]="area.image", [alt]="area.name")
    span {{ area.name }}
