doctype html
div.standard-page

  p.
    FUNDABITAT impulsa iniciativas que promuevan la inversi贸n en recursos humanos, identifiquen y analicen problemas,
    e implementen soluciones, promoviendo la participaci贸n comunitaria directa.

  p.
    incluye como parte integral de sus actividades, la producci贸n de documentos impresos y audiovisuales relacionados
    con sus temas de investigaci贸n.

  div(fl-layout="row", fl-layout-align="start stretch", fl-layout-wrap)
    div.card-container(*ngFor="let p of publications", fl-flex-xs="100", fl-flex-gt-xs="100",
    fl-layout="row", fl-layout-align="start stretch")
      md-card
        div.title(fl-layout="column" fl-flex)
          h2 {{ p.title }}
          p: small {{ p.author }}
          fd-divider
        p(*ngFor="let d of p.description") {{ d }}
        div.img-cont
          img(md-card-image, [src]="p.image", [alt]="p.name")