doctype html
p.
  FUNDABITAT impulsa iniciativas que promuevan la inversi贸n en recursos humanos,
  identifiquen y analicen problemas, e implementen soluciones, promoviendo la
  participaci贸n comunitaria directa.

p.
  Incluye como parte integral de sus actividades, la producci贸n de documentos
  impresos y audiovisuales relacionados con sus temas de investigaci贸n.

div.section(*ngFor="let p of (publications$ | async)", fl-layout="column", fl-layout-align="start stretch")
  mat-card
    mat-card-content(fl-layout="row", fl-layout-align="start start")
      .main
        // Title
        h2 {{ p.title }}
        p: small {{ p.author }}
        fd-divider

        .cont(fl-layout="row", fl-layout-align="space-between start")
          div([innerHtml]="p.description")
          img([src]="p.image", [alt]="p.name", align="right")

