doctype html
p {{ data.p1 }}

p {{ data.p2 }}

div.section(*ngFor="let p of (publications$ | async)", fl-layout="column", fl-layout-align="start stretch")
  mat-card
    mat-card-content(fl-layout="row", fl-layout-align="start start")
      .main
        // Title
        h2 {{ p.title }}
        p: small {{ p.author }}
        fd-divider

        .cont(fl-layout="row", fl-layout-align="space-between start")
          div([innerHtml]="p.description")
          img([src]="p.image", [alt]="p.name", align="right")

