mat-card
  mat-card-title {{ program.title }}
  fd-divider
  .content
    img([fireSrc]="program.image", [alt]="program.title")
    p.description {{ program.description}}
    mat-card-subtitle.location {{ program.location }}
